Source: ros-humble-tiago-pro-description
Section: misc
Priority: optional
Maintainer: Narcis Miguel <narcis.miguel@pal-robotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-cmake-pytest <!nocheck>, ros-humble-ament-cmake-python, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-launch-testing-ament-cmake <!nocheck>, ros-humble-urdf-test <!nocheck>, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-tiago-pro-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-omni-base-description, ros-humble-pal-sea-arm-description, ros-humble-pal-urdf-utils, ros-humble-robot-state-publisher, ros-humble-tiago-pro-head-description, ros-humble-xacro, ros-humble-ros-workspace
Description: The tiago_pro_description package
