Source: ros-humble-tiago-pro-robot
Section: misc
Priority: optional
Maintainer: Narcis Miguel <narcis.miguel@pal-robotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-tiago-pro-robot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-tiago-pro-bringup, ros-humble-tiago-pro-controller-configuration, ros-humble-tiago-pro-description, ros-humble-ros-workspace
Description: The tiago_pro_robot package
